.subreddits-box {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subreddits-box::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    filter: blur(25px);
}

.subreddits-box:nth-child(1) {
    background: linear-gradient(135deg, #f403d1, #64b5f6);
}



#subreddits-container {
    background-color: palegoldenrod;
    width: 200px;
    height: 300px;
}

.subreddit-links {
    list-style: none;
}
.subreddit-links li a {
    color: black;
}