#subreddits-container {
}






.subreddits {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.subreddits::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    filter: blur(25px);
    transform: translateY(25px) scale(1);
}

.subreddits:nth-child(1)::before {
    background: rgb(190, 190, 190);
    z-index: 0;
}

#subreddits-inner-container {
    background-color: white;
    z-index: 1;
}
.subreddits h1 {
    background-color: rgb(6, 114, 249);
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px 2rem;
}

.subreddits ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: left;
}

.subreddits li {
    font-size: 1.5rem;
    margin: 1rem 1.5rem 1.5rem 1.5rem;
    padding: 0px;
}

.subreddits a{
    color: gray;
    font-size: 1rem;
}
.subreddits a:visited {
    color: gray;
}