#subreddits-box-container {
    justify-content: center;
    align-items: center;
    margin: 100px 
}

.subreddits-box {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subreddits-box::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    filter: blur(25px);
    transform: translateY(25px) scale(1);
}

.subreddits-box:nth-child(1)::before {
    background: gray;
    z-index: 0;
}

#subreddits-box-inner-container {
    background-color: white;
    z-index: 1;
    width: 100%;
}
.subreddits-box h1 {
    background-color: rgb(6, 141, 249);
    color: white;
    text-align: center;
    margin: 0px;
}

.subreddits-box ul {
    list-style: none;
    padding: 20px 30px
}

.subreddits-box li {
    margin: 20px 0px;
    font-size: 1.5rem;
}

.subreddits a{
    color: gray;
}
.subreddits-box a:visited {
    color: gray;
}