#articles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 70%;
}
#loading-message {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}