.article {
    display: flex;
    position: relative;
    width: auto;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

}
.article-shadow::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    transform: translateY(15px);
    background: rgb(100, 100, 100);
}


.article-inner-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    background-color: rgb(50, 50, 50);
}

.article h4 {
    color: white;
    padding: .5rem 2.5%;
    margin: 0;
}

.article-subheader {
    display: flex;
    background-color: rgb(6, 114, 249);
    align-content: center;
    transition-duration: 0.5s;
}
.article-subheader:hover {
    background-color: rgb(6, 80, 200);
}

.article-header {
    display: flex;
    color: white;
    background-color: rgb(25, 25, 25);
    height: 100%;
    grid-row: 2;
    align-items: center;
    padding: 2.5%;
    transition-duration: 0.5s;
}



.article-actions {
    display: flex;
    text-align: center;
    background-color: rgb(151, 151, 151);
    color: white;
    height: 100%;
    width: 100%;
    padding: .5rem 0px;
    align-items: center;
    justify-content: space-around;
    grid-row: 4;
    flex-wrap: wrap;
}

.article-inner-container, .article-actions {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.article-inner-container, .article-subheader {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.article-body {
    display: grid;
    grid-template: 1fr / 100%;
    grid-row: 3;
    margin: 0;
    justify-content: center;
    width: 100%;
    transition-duration: 0.5s;
    color: white;
}
.article-body:hover {
    background-color: rgb(30, 30, 30);
}

.article-link-and-frame{
    display: flex;
    flex-direction: column;
    max-height: 600px;
    width: 100%;
    overflow:hidden;
    overflow-x: hidden;
}
.article-link-and-frame iframe {
    background-color: white;
    width: 102%;
    height: 618px;
}

.article-text, .article-body p {
    color: white;
    padding: 1rem 2rem;
    margin: 0px;
    word-wrap: break-word;
}
.article-text, .article-body p a {
    color: rgb(30, 255,155);
}

.article-body img {
    max-width: 100%;
    max-height: 600px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    justify-self: center;
}
.article-image-gallery {
    display: grid;
    grid-template: 1fr / minmax(30px, 60px) 1fr minmax(30px, 60px);
    justify-content: space-around;
    align-items: center;
    transition-duration: 0.5s;
}
.article-image-gallery:hover {
    background-color: rgb(30, 30, 30)
}
.article-image-gallery div {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}
.article-image-gallery button {
    height: 45px;
    width: 45px;
    text-align: center;
    justify-self: center;
    font-size: 1.25rem;
    font-weight:bolder;
    border-radius: 30px;
    border: 3px solid lightgray;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.25s;
}
.article-image-gallery button:hover {
    height: 50px;
    width: 50px;
    font-size:1.4rem;
    color:white;
}
.article-body video {
    max-height: 600px;
    max-width: 100%;
    justify-self: center;
}
.article-body .embedded-content {
    display: grid;
    justify-content: center;
    justify-items: center;
    max-height: 600px;
    max-width: 100%;
    grid-template: 1fr / 1fr
}
.article-body .embedded-content iframe{
    height: 600px;
    width: 100%;
}
.article-body .embedded-gallery {
    border: 0;
}



.article-comments {
    width: 100%;
}
.article-comments .comment-container {
    color: white;
    margin: 0px;
    padding: 1rem;
    transition-duration: 0.5s;
}
.comment-container:hover {
    background-color: rgb(30, 30, 30);
}


.article-actions div {
    align-content: center;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.votes-action {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    vertical-align: center;
    gap: 1rem;
}
.votes-action p {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 2rem;
}
.action-comments {
    grid-column: 3;
    grid-row: 2;
}
.action-comments:hover {
    cursor: pointer;
    text-decoration: underline;
}
#hide-comments {
    width:100%;
    text-align:center;
    color: gray;
    font-size: 1rem;
    font-weight: 200;
    transition-duration: 0.3s;
}
#hide-comments:hover {
    cursor: pointer;
    color:white;
    font-size:1.25rem;
    font-weight: 600;
    background-color: rgb(100, 100, 100);
}

.vote-arrow {
    height: 1.25rem;
    width: 1.25rem;
}

.vote-arrow:hover {
    cursor: pointer;
}





.rotate180 {
    transform: rotate(180deg);
}
.no-margin {
    margin: 0;
}


#sub-frame-error {
    display: block;
    width:0px;
    height:0px;
}
.neterror {
    width:0px;
    height: 0px;
}