.article {
    display: flex;
    position: relative;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.article::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1.5625rem);
    transform: translateY(25px);
    background: rgb(190, 190, 190);
}


.article-inner-container {
    background-color: white;
    z-index: 1;
    width: 100%;
}

.article h4 {
    background-color: rgb(6, 114, 249);
    color: white;
    padding: .5rem 2.5%;
    margin: 0;
}

.article h2 {
}

.article a, .article a:visited{
    color: rgb(30, 255, 155);
}

.article-body {
    margin: 2.5% 2.5%;
}