.article {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    filter: blur(25px);
    transform: translateY(25px);
}

.article:nth-child(1)::before {
    background: gray;
    z-index: 0;
}

.article-inner-container {
    background-color: white;
    z-index: 1;
    width: 100%;
    padding: 20px;
}
.article h2, .article h4 {
    margin: 0px 0px 5px;
}

.article ul {
    list-style: none;
    padding: 20px 30px
}

.article li {
    margin: 20px 0px;
    font-size: 1.5rem;
}

.article a{
    color: gray;
}
.article a:visited {
    color: gray;
}