body {
    transition-duration: 0.5s;
}
#body-container {
    display: flex;
    justify-content: center;
    align-content: top;
    margin: 6% 0;
    gap: 2.5%;
    position: absolute;
}

.out-link {
    text-decoration: underline;
}

.out-link:hover {
    cursor: pointer;
}