#body-container {
    display: flex;
    justify-content: center;
    align-content: top;
    margin: 2.5% 10%;
    gap: 5%;
}

.out-link {
    text-decoration: underline;
}

.out-link:hover {
    cursor: pointer;
}