body {
    transition-duration: 0.5s;
}

body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-track {
    background:rgb(25, 25, 25);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border:1px solid rgb(6, 114, 249);
    border-radius: 2px
}

#body-container {
    display: grid;
    justify-items: center;
    width: 100%;
    align-content: top;
    margin: 60px 0;
    position: absolute;
}

.out-link {
    text-decoration: underline;
}

.out-link:hover {
    cursor: pointer;
}



blockquote {
    color: rgb(200, 200, 200);
    background-color: rgb(40, 40, 40);
}
.border-top {
    border-top: solid gray 1px;
}
.horizontal-rule {
    border-bottom: solid gray 1px;
    margin-bottom: 0.5rem;
}