#pulltab {
    position: fixed;
    display: grid;
    top: -70px;
    left:50%;
    justify-content: center;
    width: 0;
    transition-duration: 1s;
    z-index: 0;
}

#nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: rgb(6, 114, 249);
    padding: 0 1.25rem;
    align-items: center;
    transition-duration: 0.5s;
    z-index: 10;
}

.inner {
    margin: .25rem 0;
}

#header {
    display: inline-block;
    margin: 0px;
}

#header, .nav-bar-link{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: .625rem;
    padding: 0;
    align-self: center;
}



#left-flex {
    display: flex;
}
#left-flex:hover {
    cursor: pointer;
}

#center-flex {
    display: grid;
    grid-template: 1fr / 1000000000000000fr 1fr;
    width: 0px;
    position: absolute;
    left: 50%;
    justify-content: center;
}



#nav-logo {
    height: 2.5rem;
    width: 2.5rem;
    justify-self: left;
}
#night-mode-button {
    display: flex;
    grid-template: 1fr / 1fr 1fr;
    background-color: rgb(230, 230, 230);
    padding: .5rem;;
    align-items: center;
    gap: .35rem;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    margin-left: 2rem;
    margin-right: 0.5rem;
    transition-duration: 0.5s;
}
#night-mode-logo {
    height: 1.2rem;
    width: 1.2rem;
    z-index: 10;
}

#searchbar {
    background: url('./searchIcon.png') top right no-repeat;
    background-size: contain;
    height: 2rem;
    width: 18.75rem;
    padding: .375rem 3.125rem;
    font-size: 1rem;
    background-color: rgb(230, 230, 230);
    border-radius: 6.25rem;
    border: none;
    outline: none;
    transition-duration: 0.5s;
}

#searchbar:focus {
    background-color: rgb(255, 255, 255);
    width: 28.125rem;
}

#log-in-button {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(6, 114, 249);
    background-color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: 20px;
}
#nav-bar button:hover {
    cursor:pointer;
    background-color: white;
}
#nav-bar button:active {
    background-color:rgb(230, 230, 230);
}